nav {
    margin: 30px;
    display: flex;
    justify-content: space-between;

}

.logo {
    width:100%;
    max-width: 200px;
    height: 83px;
    border-radius:50px;

}

li {
  margin: 30px; 
  font-family:Poppins;
}

a:hover{
    color:black;
    font-size:130%;
}

.list a{
    display:block;
    float:left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.list .icon {
    display: none;
}

@media screen and (max-width:600px){
    .list a.navItem {display: none;}
    .list a.icon {
    float:right;
    display:block;
  }
}  

@media screen and (max-width: 600px) {
    .list.responsive {position: relative;}
    .list.responsive .icon {
      position: absolute;
      right: 0;
       top: 0;
    }
    .list.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
}
