.logo {
  width: 100%;
  max-width: 200px;
  height: 83px;
  border-radius: 50px;
}

nav {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  margin: 30px;
  font-family: Poppins;
}

a:hover {
  color: black;
  font-size: 130%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
  width: 90%;
  height: 80%;
  min-height: 600px;
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading {
  font-family: Lobster;
  font-style: bold;
  font-size: 60px;
}

.main-text {
  font-family: Roboto;
  font-style: normal;
  font-size: 25px;
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
  line-height: normal;
}

.button {
  font-family: Poppins;
  font-style: normal;
  margin: 50px;
  width: 180px;
  height: 48px;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.button:hover {
  background-color: rgb(94, 83, 83);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.image {
  width: 100%;
  max-width: 600px;
  height: 70%;
  min-height: 300px;
  margin: 20px;
  border-radius: 40px;
}

footer {
  border-radius: 10px;
  width: 100%;
  background-color: #d7afc8;
  height: 100%;
  min-height: 180px;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px;
}

.container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo1 {
  max-width: 120px;
  border-radius: 45px;
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px;
}

.text {
  font-family: Lobster;
  font-size: 20px;
}

.four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body {
  background-color: #d3a6c2;
  width: 100%;
}